.cabecalho {
    padding: 5rem;
    justify-items: center;
}

.cabecalho__sub-titulo {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: var(--cor-secundaria);
}

.cabecalho__titulo {
    font-size: 3rem;
    font-weight: 600;
    color: var(--cor-titulo);
    padding: 2rem 0 2rem 0;
}

.cabecalho__texto {
    padding-top: 0.75rem;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    color: var(--cor-fonte-container);
}