.vagas__container {
    text-align: left;
    margin: 0 auto;
    max-width: 800px;
}

.vagas__titulo {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--cor-titulo);
    margin-top: 6rem;
}

.vagas__texto {
    margin-left: 1.5rem;
}

.vagas__sub-titulo {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--cor-titulo);
    margin: 3.5rem 0 2rem;
}

span {
    font-size: 1rem;
    font-weight: 400;
    color: var(--cor-fonte-container);
    padding: 0 2rem 0 0;
    margin-bottom: 2rem;
}